@model IEnumerable<CarParkingSystem.Models.StudentViolation>
@{
    ViewData["Title"] = "Student Violation";
    int i = 0;
}

<style>
    .admin-other-forms {
        margin: 61px 0 0 0;
    }
</style>
<div class="admin-other-forms">
    <div class="mb-2">
        <div class="search-input">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div class="table-card">
        <h6 class="table-heading">Violation List</h6>
        <table class="table table-sm rana-form-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Serverity</th>
                    <th>Amount</th>
                    <th>Issued</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model.Where(x=>x.AppealSent == false && x.isPaid == false))
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Severity </td>

                                @if (item.ServerityFee > 0)
                                {
                                    <td>
                                        ZAR @item.ServerityFee.ToString("0")

                                    </td>
                                }
                                else
                                {
                        <td>
                            <p class="rana-form-label">Inapplicable</p>

                        </td>
                                }

                            <td>@item.IssueDate.ToString("MM/dd/yyyy") </td>
                            <td>
                                @if (ViewBag.Check != null && ViewBag.Check.Count > 0)
                                {
                                    bool paid = false; 
                                    foreach (var check in ViewBag.Check)
                                    {
                                        if (check.ViolationId == item.Id)
                                        {
                                            paid = true; 
                                            break; 
                                        }
                                    }

                                    if (paid)
                                    {
                                        <p>Paid</p>
                                    }
                                    else
                                    {
                                        <a style="text-decoration:none" class="tbl-btn" asp-action="ViolationDetails" asp-route-id="@item.Id">Details</a>
                                    }
                                }
                                else
                                {
                                    <a style="text-decoration:none" class="tbl-btn" asp-action="ViolationDetails" asp-route-id="@item.Id">Details</a>
                                }



                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5"><h5 class="text-center">Record not found</h5></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
