@model CarParkingSystem.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Deallocate Bay Verifaction QR Code";
}
<div class="Guard-form">
    <div class="mb-3">
        <label class="rana-form-label">Driver Organization Number :</label>
        <input type="number" class="rana-form-input" name="OrgNumber" value="@Model.orgNum" placeholder="Insert 8-digit organization number" readonly>
    </div>
    <div class="mb-3">
        <label class="rana-form-label">Vehicle Registration Plate :</label>
        <input type="text" class="rana-form-input" name="RegistrationPlate" value="@Model.RegisterPlate" placeholder="Insert vehicle plate here" readonly>
    </div>
</div>
<div>
    <h6 class="rana-form-h6 mb-4">Driver Information</h6>
    <div class="driver-info">
        <p class="driver-info-p">
            <span>First Name:</span>
            <span>@Model.FirstName</span>
        </p>
        <p class="driver-info-p">
            <span>Last Name:</span>
            <span>@Model.LastName</span>
        </p>
        <p class="driver-info-p">
            <span>Role:</span>
            <span>@Model.UserRole</span>
        </p>
        <p class="driver-info-p">
            <span>ID Number:</span>
            <span>@Model.idNumber</span>
        </p>
    </div>
    <div class="driver-info">
        <p class="driver-info-p">
            <span>Modal:</span>
            <span>@Model.BayId</span>
        </p>
        <p class="driver-info-p">
            <span>Register Plate:</span>
            <span>@Model.RegisterPlate</span>
        </p>

    </div>
    <div class="text-center">
        <a asp-action="DeallocationSuccess" asp-route-BayId="@Model.BayId" asp-route-OrgNumber="@Model.orgNum" asp-route-RegNumber="@Model.RegisterPlate" asp-route-CheckInBay="@Model.CheckInBay" class="tbl-btn" style="text-decoration:none">Deallocate Bay</a>

    </div>
</div>

