@model CarParkingSystem.ViewModel.EventHistoryViewModel

@{
    ViewData["Title"] = "LateEvent";
}

<style>
    .admin-other-forms {
        margin-left: 100px;
    }
</style>
<div style="margin-top:20px">
    <h4 class="text-center">Booking </h4>
</div>
<div class="admin-other-forms mt-5">
    <dl class="row">
        <dt class="col-sm-7">
            <h3>Event Name:</h3>
        </dt>
        <dd class="col-sm-5">
            <h3> @Html.DisplayFor(model => model.EventName)</h3>

        </dd>
        <dt class="col-sm-7">
            First Name of host:
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-7">
            Last Name of host:
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-7">
            Email of host:
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-7">
            Phone of Host:
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-7">
            Event Start Date:
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class="col-sm-7">
            Event End Date:
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class="col-sm-7">
            <h3>Using Parking section:</h3>
        </dt>
        <dd class="col-sm-5">
            <h3>@Html.DisplayFor(model => model.ParkingSection)</h3>

        </dd>
    </dl>
    <div class="text-center">
        <h4>This event has not yet started</h4>
    </div>

</div>


