@model CarParkingSystem.Models.Visitation
@{
    ViewData["Title"] = "Visitation Details";
}
<div style="margin-top:20px">
    <h4 class="text-center">Driver Information</h4>
</div>
<div class="admin-other-form">
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstNmae)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstNmae)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastNmae)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastNmae)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.purpose)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.purpose)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RegistrationPlate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EntryTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EntryTime)
        </dd>

        @if (Model.ExitTime != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ExitTime)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ExitTime)
            </dd>
        }
    </dl>

    @if (Model.ExitTime == null)
    {
        <div class="text-center" style="margin-top:80px">
            <a asp-action="VisitationUpdate" asp-route-id="@Model.Id" class="tbl-btn px-5" style="text-decoration:none">Check out</a>
        </div>
    }

</div>
